header.site-header {
  padding: 2.6rem 0;
  width: 100%;

  nav {
    ul {
      display: flex;
      flex-direction: row;
      li {
        &:not(:last-of-type) {
          margin-right: 30px;
          a {
            color: #292929;
            &:hover {
              color: #ef9273;
            }
          }
        }
        &:last-of-type {
          a {
            padding: 9px 20px;
            background: #ef9273;
            border: 1px solid #ef9273;
            color: #fff;
            border-radius: 6px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
